<!DOCTYPE html>

<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/favourite.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Spotipy</title>
	</head>
	<body>
		<div id="bg"></div>
		<center>
			<br><br>
			<div id="lyrics_bg">
				<div class="wrap" id="gripView">
					{%for i in range(0, len)%}
						<div class="tabf" id="tabf{{i}}">
							<img  id="image{{i}}" style="border-radius: 25px" src={{song_info[i][3]}} width="300" height="300">
							<br>
							<div class="fontA"><b id="name{{i}}">{{song_info[i][1]}}</b></div>
							<audio controls><source id="audio{{i}}" src={{song_info[i][2]}} type="audio/ogg"></audio>
							<br><br>
                            <div class="fontb" id="name_list{{i}}">
                                By:
                                {{ song_info[i][0] }}
                            </div>
							<br>
							<br>
						</div>
					{%endfor%}
				</div>
			</div>
        </center>
	</body>
</html>