<!DOCTYPE html>

<html>
	<head>
			<link rel="stylesheet" type="text/css" href="/static/style.css" media="screen"/>
			<script type="text/javascript" src="/static/script.js"></script>
	</head>
	<body>
		<div id="bg"></div>
        <br><br>
        <div id="lyrics_bg">
            <!-- creates an input box and submit button for user input -->
            <div class="ibox">
                <form action="{{ url_for("artist_search")}}" method="post" autocomplete="off">
                    <input type="text" id="artistname" name="a_name" placeholder="Search Artist ...">
                <input type="submit" value="Submit">
                </form>
            </div>

            <!-- Display title, and in case of error display an error message -->
            <br>
            {%if err_msg%}
                <h style="font-size: 20px; color: #ff0000">No results found !!!</h>
            {%endif%}
            <br><br><br>
            <h id="artist_name" style="font-size: 75px">Top tracks of {{artist_name}}</h>

            <!-- Creates and populate a grid format for music info -->
            <div class="wrap">
                {%for song in song_info%}
                    <div class="tabf" id="tabf{{i}}">
                        <img  id="image{{i}}" style="border-radius: 25px" src={{song[3]}} width="300" height="300">
                        <br>
                        <div class="fontA"><b id="name{{i}}">{{song[1]}}</b></div>
                        <audio controls><source id="audio{{i}}" src={{song[2]}} type="audio/ogg"></audio>
                        <br><br>
                        <div class="fontb" id="name_list{{i}}">
                            By:
                            {{ song[0]|join(', ') }}
                        </div>
                        <br>
                        <br>
                    </div>
                {%endfor%}
            </div>
        </div>
	</body>
</html>